html {
  font-size: 1rem;
}

body {
  font-family: 'Noto Sans', sans-serif;
  position: relative;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.header {
  min-height: 100vh;
  background-color: #292d33;
  margin-block-end: 150px;
}

.header__image {
  position: relative;
  background: url('../images/header-bg.jpg') center / cover no-repeat;
  height: 100%;
}

.header__image::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(41, 45, 51, 0.7);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header__navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  height: 94px;
  align-items: center;
  column-gap: 3.125rem;
  color: #fff;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.3s, height 0.3s;
  flex-wrap: nowrap;
}

.header__navbar--light {
  background-color: #fff;
  color: #292d33;
  border-bottom: none;
  height: 4.625rem;
}

.header__navbar--light .header__logo-path {
  fill: #292d33;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-inline: 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header__navigation-list {
  display: flex;
  column-gap: clamp(17px, -43px + 5vw, 53px);
  flex-basis: 100%;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
}

.header__navigation-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__navigation-link {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  height: 100%;
}

.header__navigation-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #5c8ee6;
  bottom: 0;
  right: 0;
  left: auto;
  transition: 0.3s;
}

.header__navigation-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}

.header__contacts {
  display: flex;
  flex-shrink: 0;
  column-gap: 0.625rem;
}

.header__contacts-icon {
  color: #5c8ee6;
}

.header__contacts-link {
  color: inherit;
  text-decoration: none;
}

.logo__image {
  width: 9rem;
  height: 2.75rem;
}

.logo__svg--dark {
  display: none;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: none;
  background-color: #5c8ee5;
  color: inherit;
  font-size: 1rem;
  line-height: 1.6;
  padding: 25px 42px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}

button:hover {
  background-color: #4a79cc;
}

.header__nav-button {
  height: 100%;
}

.header__button {
  padding: 25px 56px;
  letter-spacing: 0.5008px;
}

.burger-button {
  width: 100px;
  height: 100%;
  gap: 0.9375rem;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.8rem;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.burger-button__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.burger-button__line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s;
}

.burger-button__line:nth-child(2) {
  width: 80%;
  height: 1px;
}

.separator {
  width: 9.375rem;
  height: 2px;
  margin-block-end: 23px;
  background-color: #5c8ee5;
}

.header__content {
  position: relative;
  z-index: 1;
  padding-top: 15.1875rem;
  color: #fff;
  margin-block-end: 6.25rem;
  padding-inline: 0;
}

.header__title {
  max-width: 67.5rem;
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: clamp(3rem, 2.5146rem + 2.0712vw, 5rem);
  line-height: 1.2;
  margin-block-end: 2.4375rem;
}

.header__text {
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-block-end: 3.125rem;
  word-spacing: 1.2px;
}

.header__features-list {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.swiper {
  max-width: 1440px;
  margin-inline: auto;
}

.swiper-wrapper {
  display: flex;
}

.header__features-item {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
  max-width: 288px;
  height: auto;
}

.slider__buttons {
  display: none;
  height: 44px;
}

.slider-button-prev,
.slider-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  cursor: pointer;
}

.header__features-item:not(:last-child) {
  border-right: none;
}

.section--light {
  background-color: #fff;
}

.section {
  padding-inline: 15px;
  margin-block-end: 148px;
}

.section__title {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  color: #292d33;
  margin-block-end: 54px;
}

.steps__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.6;
  margin-block-end: 10px;
  color: #292d33;
}

.steps__list {
  display: flex;
  column-gap: 1.875rem;
  list-style: none;
  overflow: hidden;
}

.steps__item {
  max-width: 330px;
}

.steps__content {
  padding-right: 32px;
}

.steps__num {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-block-end: 36px;
  font-family: 'Bebas Neue';
  font-size: 48px;
  line-height: 1.2;
  color: #5c8ee5;
}

.steps__num::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ebebf0;
}

.steps__text {
  font-size: 16px;
  line-height: 1.6;
  color: #828a99;
}

.steps__link {
  margin-top: 20px;
}

.steps__link {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #5c8ee5;
  line-height: 1.6;
}

.steps__link::before {
  content: '';
  width: 40px;
  height: 1px;
  background-color: #5c8ee5;
  transition: width 0.3s;
}

.steps__link:hover::before {
  width: 60px;
}

.mobile__overlay {
  display: none;
}

.mobile__overlay.is-open {
  display: block;
}

body.is-lock {
  overflow: hidden;
}

.mobile__menu-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  color: #292d33;
  margin-block-end: 30px;
}

.mobile__menu-link {
  color: inherit;
  text-decoration: none;
}

.mobile__submenu-list {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  margin-top: 20px;
  row-gap: 10px;
}

.mobile__submenu-item {
  font-weight: 400;
  color: #828a99;
}

.mobile__submenu-link {
  color: inherit;
  text-decoration: none;
}

.mobile__menu-phone {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  color: #292d33;
}

.mobile__separator {
  width: 100%;
  margin: 0;
  margin-block-end: 30px;
  height: 0.0625rem;
  border-top: 1px solid #ebebf0;
  pointer-events: none;
}

.mobile__menu-footer {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.mobile__menu-address {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.mobile__menu-address-link {
  display: flex;
  column-gap: 10px;
  color: #292d33;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.footer__soc1als {
  display: flex;
  column-gap: 15px;
}

.slider__steps-buttons {
  display: none;
  justify-content: end;
}

.slider__steps-button--prev,
.slider__steps-button--next {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 10px 15px;
  background-color: #5c8ee5;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
}

.card__item {
  display: flex;
  border: 1px solid #ebebf0;
  line-height: 1.6;
  font-weight: 400;
  transition: border 0.3s;
}

.card__item--product {
  flex-direction: column;
  row-gap: 46px;
  justify-content: space-between;
  flex: 0 0 calc(100% / 3);
}

.card__item--brands {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  column-gap: 50px;
  padding: 3.125rem 3.75rem 3.375rem 3.125rem;
  grid-template-areas:
    'logo title title'
    'logo text text';
}

.card__logo {
  width: 100%;
  grid-area: logo;
}

.card__item:hover {
  border: 1px solid #5c8ee5;
}

.card__item:hover .card__title {
  color: #5c8ee5;
}

.card__item--brands:hover .card__logo {
  color: #5c8ee5;
}

.card__body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 40px 90px 50px 50px;
}

.card__title {
  font-size: 28px;
  color: #292d33;
  font-weight: 400;
  transition: color 0.3s;
  grid-area: title;
}

.card__description {
  font-size: 16px;
  color: #828a99;
  grid-area: text;
}

.card__image {
  align-self: flex-end;
}

.card__logo {
  color: #828a99;
}

@media (max-width: 1700px) {
  html {
    font-size: 0.875rem;
  }

  .header__logo {
    padding-inline: 30px;
  }

  .header__navbar {
    column-gap: 1.25rem;
  }

  .header__navigation-list {
    align-items: center;
  }

  .header__nav-button {
    padding: 15px 35px;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 0.8125rem;
  }

  .header__logo {
    padding-inline: 1.25rem;
  }

  .header__content {
    padding-inline: 1.5625rem;
  }

  .logo__svg {
    width: 7.5rem;
    height: 2.75rem;
  }

  .card__title {
    font-size: 26px;
  }
}

@media (max-width: 1200px) {
  .header__contacts {
    display: none;
  }

  .header__navbar {
    height: 80px;
  }

  .header__nav-button {
    padding: 2.5rem 1.9375rem;
  }

  .header__features-item {
    padding: 1.25rem 3.75rem;
  }

  .slider__buttons {
    display: flex;
  }

  .card__item {
    flex: 0 0 calc(100% / 2);
  }

  .card__item--brands {
    column-gap: 1.5625rem;
    padding: 2.1875rem 1.75rem 2.1875rem 1.5625rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .header {
    margin-block-end: 100px;
  }

  .container {
    max-width: 900px;
  }

  .header__navigation-list {
    display: none;
  }

  .header__logo {
    flex-grow: 1;
    justify-content: center;
    border-right: none;
  }

  .burger-button {
    display: inline-flex;
  }

  .header__navbar--light .burger-button__line {
    background-color: #000;
  }

  .header__nav-button-text {
    display: none;
  }

  .header__nav-button .header__contacts-icon {
    display: block;
    color: #fff;
  }

  .card__logo {
    width: 100px;
  }

  .mobile__overlay {
    position: fixed;
    padding-top: 7rem;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
  }

  .mobile__menu-inner,
  .mobile__menu-footer {
    padding-inline: 15px;
  }

  .close-menu .burger-button__line:nth-child(2) {
    display: none;
  }

  .close-menu .burger-button__line:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
  }

  .close-menu .burger-button__line:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }

  .section__title {
    font-size: 36px;
    margin-block-end: 2.7rem;
  }

  .section {
    margin-block: 8.3rem;
  }

  .steps__inner {
    padding-inline: 0;
  }

  .steps__title {
    font-size: 20px;
    line-height: 1.3;
  }

  .steps__text {
    margin-block-end: 25px;
    font-size: 14px;
  }

  .steps__link {
    column-gap: 2.3rem;
    font-size: 14px;
    margin-block-end: 20px;
  }

  .steps__num {
    margin-block-end: 14px;
  }

  .slider__steps-buttons {
    display: flex;
  }
  .steps__content {
    padding-right: 35px;
  }

  .steps__num::after {
    width: 70%;
  }

  .card__body {
    padding: 18px 46px 50px 28px;
    row-gap: 6px;
  }

  .card__item--brands {
    grid-template-columns: auto 1fr 1fr;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .header__content {
    padding-top: 195px;
  }

  .header__text {
    font-size: 14px;
    max-width: 342px;
    margin-block-end: 2.4rem;
  }

  .header__button {
    padding: 22px;
    letter-spacing: 0.5008px;
    width: 100%;
  }

  .header__features-item {
    max-width: 266px;
    row-gap: 1.7rem;
    padding: 1.5rem 4rem;
    flex-shrink: 0;
  }
  .header__features-text {
    font-size: 14px;
  }

  .card__item {
    flex: 0 0 100%;
  }

  .card__item--product {
    row-gap: 0;
    min-height: 429px;
  }

  .card__body {
    padding: 18px 46px 50px 28px;
    row-gap: 6px;
  }

  .card__title {
    font-size: 20px;
  }

  .separator {
    margin-block-end: 15px;
  }

  .card__description {
    font-size: 14px;
  }

  .card__item--brands {
    grid-template-rows: auto auto;
  }
}

@media (max-width: 576px) {
  .header__navbar {
    height: 68px;
  }
  .header__title {
    max-width: 200px;
    font-size: 48px;
    margin-block-end: 1.2rem;
  }

  .header__nav-button {
    padding-inline: 2.375rem;
  }

  .logo__svg {
    width: 120px;
    height: 44px;
  }

  .burger-button__wrapper {
    gap: 5px;
  }

  .burger-button__line {
    width: 43%;
    align-self: flex-start;
  }

  .close-menu .burger-button__line:nth-child(1) {
    transform: rotate(45deg) translateY(4px);
  }

  .close-menu .burger-button__line:nth-child(3) {
    transform: rotate(-45deg) translateY(-4px);
  }

  .burger-button__line:nth-child(2) {
    width: 30%;
  }

  .header__content {
    padding-top: 9.9rem;
    padding-inline: 15px;
    margin-block-end: 4.25rem;
  }

  .separator {
    width: 8.5rem;
  }

  .burger-button {
    width: 6.7rem;
    height: 100%;
    padding: 2.2875rem 0 2.2875rem 2.5rem;
  }

  .card__item--brands {
    grid-template-rows: 100px auto;
    grid-template-columns: 100px auto;
    grid-template-areas:
      'logo title'
      'text text';
    padding: 30px 28px 28px 30px;
    row-gap: 1.7rem;
    column-gap: 2.625rem;
  }

  .card__logo {
    /* align-self: center;
    justify-self: start; */
    place-self: center start; /* align-self / justify-self */
  }
}
