html {
  font-size: 1rem;
}

body {
  font-family: 'Noto Sans', sans-serif;
  position: relative;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.header {
  min-height: 100vh;
  background-color: #292d33;
  margin-block-end: 150px;
}

.header__image {
  position: relative;
  background: url('../images/header-bg.jpg') center / cover no-repeat;
  height: 100%;
}

.header__image::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(41, 45, 51, 0.7);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header__navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  height: 94px;
  align-items: center;
  column-gap: 3.125rem;
  color: #fff;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition:
    background-color 0.3s,
    height 0.3s;
  flex-wrap: nowrap;
}

.header__navbar--light {
  background-color: #fff;
  color: #292d33;
  border-bottom: none;
}

.header__navbar--light .logo__svg--light {
  display: none;
}

.header__navbar--light .logo__svg--dark {
  display: block;
}

.navbar--scroll {
  height: 4.625rem;
}

.header__navbar--light .header__logo-path {
  fill: #292d33;
}

.header__logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding-inline: 3.125rem;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header__navbar--light .header__logo {
  border-color: #ebebf0;
}

.header__navigation-list {
  display: flex;
  column-gap: clamp(17px, -43px + 5vw, 53px);
  flex-basis: 100%;
  flex-wrap: nowrap;
  height: 100%;
  align-items: center;
}

.header__navigation-item {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__navigation-link {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  color: inherit;
  white-space: nowrap;
  height: 100%;
}

.header__navigation-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #5c8ee6;
  bottom: 0;
  right: 0;
  left: auto;
  transition: 0.3s;
}

.header__navigation-link:hover::after {
  width: 100%;
  right: auto;
  left: 0;
}

.header__contacts {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  column-gap: 0.625rem;
  transition: color 0.3s;
}

.header__contacts:hover {
  color: #5c8ee5;
}

.header__contacts-icon {
  color: #5c8ee6;
}

.header__nav-button .header__contacts-icon {
  display: none;
}

.header__contacts-link {
  color: inherit;
  text-decoration: none;
}

.logo__image {
  width: 9rem;
  height: 2.75rem;
}

.logo__svg--dark {
  display: none;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: none;
  background-color: #5c8ee5;
  color: inherit;
  font-size: 1rem;
  line-height: 1.6;
  padding: 25px 54px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s;
}

.button--cta {
  padding: 1.125rem 2.8125rem;
}

.button-modal {
  width: 100%;
}

.button:hover {
  background-color: #4a79cc;
}

.header__nav-button {
  height: 100%;
}

.header__button {
  padding: 25px 56px;
  letter-spacing: 0.5008px;
}

.burger-button {
  width: 100px;
  height: 100%;
  gap: 0.9375rem;
  display: none;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.8rem;
  background-color: transparent;
  border: none;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
}

.burger-button__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  width: 100%;
}

.burger-button__line {
  height: 1px;
  width: 100%;
  background-color: #fff;
  transition: transform 0.3s;
}

.burger-button__line:nth-child(2) {
  width: 80%;
  height: 1px;
}

.separator {
  width: 9.375rem;
  height: 2px;
  margin-block-end: 23px;
  background-color: #5c8ee5;
}

.header__content {
  position: relative;
  z-index: 1;
  padding-top: 15.1875rem;
  color: #fff;
  margin-block-end: 6.25rem;
  padding-inline: 0;
}

.header__title {
  max-width: 67.5rem;
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: clamp(3rem, 2.5146rem + 2.0712vw, 5rem);
  line-height: 1.2;
  margin-block-end: 2.4375rem;
}

.header__text {
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-block-end: 3.125rem;
  word-spacing: 1.2px;
}

.header__features-list {
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6;
}

.swiper {
  max-width: 1440px;
  margin-inline: auto;
}

.swiper-wrapper {
  display: flex;
}

.header__features-item {
  display: flex;
  flex-direction: column;
  row-gap: 1.25rem;
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
  max-width: 288px;
  height: auto;
}

.slider__buttons {
  display: none;
  height: 44px;
}

.slider-button-prev,
.slider-button-next {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  cursor: pointer;
}

.header__features-item:not(:last-child) {
  border-right: none;
}

.section--light {
  background-color: #fff;
}

.section {
  padding-inline: 15px;
  margin-block-end: 148px;
}

.section:last-child {
  margin-block-end: 0;
}

.section__title {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  color: #292d33;
  margin-block-end: 54px;
}

.steps__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.6;
  margin-block-end: 10px;
  color: #292d33;
}

.steps__list {
  display: flex;
  column-gap: 1.875rem;
  list-style: none;
  overflow: hidden;
}

.steps__item {
  max-width: 330px;
}

.steps__content {
  padding-right: 32px;
}

.steps__num {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-block-end: 36px;
  font-family: 'Bebas Neue';
  font-size: 48px;
  line-height: 1.2;
  color: #5c8ee5;
}

.steps__num::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ebebf0;
}

.steps__text {
  font-size: 16px;
  line-height: 1.6;
  color: #828a99;
}

.button__link--steps {
  margin-block-start: 1.25rem;
}

.button__link {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #5c8ee5;
  line-height: 1.6;
}

.button__link::before {
  content: '';
  width: 40px;
  height: 1px;
  background-color: #5c8ee5;
  transition: width 0.3s;
}

.button__link:hover::before {
  width: 60px;
}

.mobile__overlay {
  display: none;
}

.mobile__overlay.is-open {
  display: block;
}

body.is-lock {
  overflow: hidden;
}

.mobile__menu-item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  color: #292d33;
  margin-block-end: 30px;
}

.mobile__menu-link {
  color: inherit;
  text-decoration: none;
}

.mobile__submenu-list {
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
  row-gap: 10px;
  margin-block-start: 20px;
}

.mobile__submenu-item {
  font-weight: 400;
  color: #828a99;
}

.mobile__submenu-link {
  color: inherit;
  text-decoration: none;
}

.contacts__phone {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  color: #292d33;
}

.divider-line {
  margin: 0;
  width: 100%;
  height: 0.0625rem;
  border-top: 1px solid #ebebf0;
  pointer-events: none;
}

.divider-line--mobile {
  margin-block-end: 30px;
}

.divider-line--footer {
  margin: 0;
}

.contacts--mobile {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;
}

.contacts__item {
  display: flex;
  column-gap: 10px;
  color: #292d33;
  align-items: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}

.page-contacts .contacts__item {
  column-gap: 8px
}

.socials--mobile {
  display: flex;
  column-gap: 15px;
}

.nav-arrows {
  display: none;
  justify-content: end;
}

.nav-arrows__button {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #5c8ee5;
  border: none;
}

.nav-arrows__icon {
  width: 36px;
  height: 24px;
}

.nav-arrows__button--sm {
  padding: 10px 15px;
}

.nav-arrows__button--lg {
  padding: 1.125rem 1.375rem;
}

.card__list {
  display: flex;
  flex-wrap: wrap;
}

.card__item {
  display: flex;
  border: 1px solid #ebebf0;
  line-height: 1.6;
  font-weight: 400;
  transition: border 0.3s;
}

.card__item--product {
  flex-direction: column;
  row-gap: 46px;
  justify-content: space-between;
  flex: 0 0 calc(100% / 3);
}

.card__item--brands {
  flex-basis: 50%;
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  column-gap: 50px;
  padding: 3.125rem 3.75rem 3.375rem 3.125rem;
  grid-template-areas:
    'logo title title'
    'logo text text';
}

.card__logo {
  width: 100%;
  color: #828a99;
  grid-area: logo;
}

.card__item:hover {
  border: 1px solid #5c8ee5;
}

.card__item:hover .card__title {
  color: #5c8ee5;
}

.card__item--brands:hover .card__logo {
  color: #5c8ee5;
}

.card__body {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 40px 90px 50px 50px;
}

.card__title {
  font-size: 28px;
  color: #292d33;
  font-weight: 400;
  transition: color 0.3s;
  grid-area: title;
}

.card__description {
  font-size: 16px;
  color: #828a99;
  grid-area: text;
}

.card__image {
  align-self: flex-end;
}

.founder {
  position: relative;
  padding-inline: 0;
  min-height: 41.25rem;
}

.founder__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 44%;
  height: 100%;
  object-fit: contain;
  object-position: left center;
}

.founder__content-wrapper {
  display: flex;
  justify-content: flex-end;
}

.founder__content {
  max-width: 45rem;
  padding-block-start: 3.125rem;
  padding-inline-end: 16px;
}

.button__link--founder {
  margin-block-start: 1.2rem;
}

.founder__title {
  margin-block-end: 1.625rem;
}

.founder__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #828a99;
  margin-bottom: 1.7rem;
  word-spacing: 0.125rem;
}

.clients__wrapper {
  display: flex;
  column-gap: 0;
}

.clients__content {
  flex-basis: 50%;
}

.clients__title {
  margin-block-end: 2.875rem;
}

.clients__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-auto-flow: column;
  row-gap: 1.25rem;
  column-gap: 0.375rem;
}

.clients__item {
  display: flex;
  align-items: center;
  column-gap: 1.25rem;
}

.clients__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.clients__iconnns {
  flex-basis: 50%;
}

.clients-logo__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-basis: 50%;
  grid-auto-rows: 10rem;
  margin-block-start: 0.375rem;
}

.clients-logo__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ebebf0;
  padding: 1rem;
}

.clients-logo__image {
  filter: grayscale(100%);
  transition: 0.3s;
}

.clients-logo__item:hover .clients-logo__image {
  filter: grayscale(0);
}

.slider__blog-wrapper {
  display: flex;
}

.blog {
  margin-block-end: 13.875rem;
}

.blog-card__footer {
  margin-block-start: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 3.125rem;
  position: relative;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
  text-decoration: none;
  min-height: 25rem;
  row-gap: 0.625rem;
}

.blog-card__image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.blog-card::before {
  content: '';
  position: absolute;
  inset: 0;
  height: 100%;
  background: rgba(41, 45, 51, 0.6);
  z-index: -1;
}

.blog__title {
  margin-block-end: 3.75rem;
}

.blog-card__title {
  font-size: 28px;
  font-weight: 400;
}

.blog-card__description {
  font-size: 16px;
}

.section__cta {
  position: relative;
  padding-block: 5.9rem 6.25rem;
}

.cta {
  padding-inline: 0;
}

.cta__form-wrapper {
  display: flex;
  justify-content: flex-end;
}

.cta__form {
  flex: 0 1 52.5rem;
}

.cta__title {
  margin-block-end: 1.5rem;
}

.cta__description {
  font-size: 16px;
  line-height: 1.6;
  color: #828a99;
  margin-block-end: 3.3rem;
  max-width: 40rem;
}

.background-grey {
  background-color: #f0f2f5;
}

.cta__image {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 45rem;
}

.cta__form-footer {
  display: flex;
  align-items: center;
  column-gap: 1.9rem;
}

.cta__form-footer--vertical {
  flex-direction: column;
  row-gap: 30px;
}

.cta__form-notify {
  font-size: 12px;
  line-height: 1.6;
  color: #828a99;
  max-width: 25rem;
}

.notify {
  display: flex;
  column-gap: 10px;
}

.notify__icon {
  flex-shrink: 0;
}

.input__group-wrapper {
  display: flex;
  column-gap: 1.875rem;
}

.input__group-wrapper--vertical {
  flex-direction: column;
  margin-bottom: 30px;
}

.input__group {
  position: relative;
  margin-block-end: 1.875rem;
  height: 4.125rem;
  flex-grow: 1;
  background-color: #f0f2f5;
}

.input__group--modal {
  background-color: #fafbfc;
  border: 1px solid #e4e4eb;
}

.input__group:last-child {
  margin-block-end: 0;
}

.input__group-input {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 1.25rem 1.875rem;
  border: 1px solid #e4e4eb;
  background-color: transparent;
  transition: border-color 0.3s;
}

.input__group-input.is-invalid {
  border: 1px solid red;
}

.just-validate-error-label {
  position: absolute;
  font-size: 0.8rem;
  transform: translateX(200%);
  top: -7px;
  padding-inline: 5px;
  background-color: inherit;
}

.input__group-input--modal {
  background-color: #fafbfc;
  border: 1px solid #e4e4eb;
}

.input__group-input:focus-visible {
  outline: none;
}

.input__group-input:focus {
  border: 1px solid #5c8ee5;
}

.input__group-label {
  position: absolute;
  left: 1.875rem;
  top: 1.25rem;
  font-size: 16px;
  line-height: 1.6;
  color: #828a99;
  transition: 0.3s;
}

.input__group-input:focus ~ .input__group-label,
.input__group-input:not(:placeholder-shown) ~ .input__group-label {
  top: -0.5rem;
  font-size: 0.625rem;
  left: 1rem;
  background-color: inherit;
  padding-inline: 0.625rem;
}

.footer {
  padding-inline: 15px;
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-block: 3.125rem;
  align-items: center;
}

.logo__svg-footer {
  display: block;
}

.footer__contacts {
  display: flex;
  column-gap: 5.5rem;
  align-items: center;
}

.page-contacts .footer__contacts {
  margin-bottom: 6.25rem;
}
.footer__address {
  display: flex;
  column-gap: 2.3rem;
  align-items: center;
  transition: color 0.3s;
}

.footer__phone {
  font-size: 2rem;
  line-height: 1.6;
  text-decoration: underline;
  white-space: nowrap;
  transition: color 0.3s;
}

.page-contacts .footer__phone {
  font-size: 3rem;
}

.page-contacts .footer__text{
 font-size: 1.375rem;
}

.page-contacts .contacts__icon {
  width: 36px;
  height: 36px;
}

.footer__phone:hover,
.footer__address :hover {
  color: #5c8ee5;
}

.footer__bottom {
  display: flex;
  padding-block: 3.125rem;
  column-gap: 7rem;
}

.footer__text {
  font-size: 16px;
  line-height: 1.6;
}

.footer__menu-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1.875rem;
}

.footer__menu-wrapper:last-child {
  margin-inline-start: 3.875rem;
}

.footer__menu-list {
  display: grid;
  column-gap: 8.4rem;
  row-gap: 0.9375rem;
  grid-auto-flow: column;
  padding-left: 1.25rem;
}

.footer__menu-list--bold {
  row-gap: 1.9rem;
}

.footer__menu-list--1col {
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}

.footer__menu--2cols {
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #828a99;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__menu-link:hover {
  color: #5c8ee5;
}

.footer__menu-link--bold {
  font-weight: 600;
  font-size: 16px;
  color: #292d33;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1.2rem;
}

.footer__legal {
  display: flex;
  column-gap: 5.25rem;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #828a99;
}

.footer__policy {
  text-decoration: none;
  color: #828a99;
}

.footer__author {
  display: flex;
  align-items: center;
  column-gap: 0.7rem;
}

.footer__made-in {
  display: block;
  color: #828a99;
  font-size: 12px;
  line-height: 1.6;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 51, 0.5);
  z-index: 10;
  transition: opacity 0.3s;
}

.modal__dialog {
  position: relative;
  max-width: 28.75rem;
  background-color: #fafbfc;
  padding: 2.5rem 3.125rem;
  transform: translateY(-50%);
  opacity: 0;
  transition:
    transform 0.3s,
    opacity 0.3s;
}

.modal.is-open .modal__dialog {
  transform: translateY(0);
  opacity: 1;
}

.modal.is-open {
  opacity: 100%;
  visibility: visible;
  transform: translateX(0);
}

.modal__title {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 48px;
  line-height: 1.2;
  color: #292d33;
  margin-bottom: 30px;
}

.modal__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #828a99;
  margin-bottom: 30px;
}

.modal__close-button {
  position: absolute;
  top: 44px;
  right: 48px;
  padding: 12px 16px;
  background-color: transparent;
  border: 1px solid #ebebf0;
}

.main--inner {
  padding-block-start: 5.875rem;
}
/* .about-page {
  
} */

.hero {
  padding-inline: 15px;
  padding-block: 3.125rem;
}

.hero--small {
  padding-block: 3.125rem 0;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero--gray {
  background-color: #f0f2f5;
}

.hero--image {
  position: relative;
  background-image: url('../images/hero/hero-bg-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.hero--image::before {
  content: '';
  position: absolute;
  background-color: rgba(41, 45, 51, 0.6);
  inset: 0;
  z-index: 1;
}

.hero--image .container {
  position: relative;
  z-index: 2;
}

.hero__title {
  font-weight: 400;
  font-size: 5rem;
  line-height: 1.2;
  margin-block-end: 1.6rem;
}

.hero__title--light {
  color: #fff;
  z-index: 2;
}

.section--full {
  padding-inline: 0;
}

.breadcrumb--light {
  color: #fff;
  z-index: 1;
}

.breadcrumb {
  display: flex;
  font-size: 14px;
  color: #828a99;
}

.breadcrumb__item + .breadcrumb__item:before {
  content: '—';
  color: #828a99;
  margin-inline: 0.75rem;
}

.breadcrumb__item--light {
  color: #fff;
}

.breadcrumb__item--light + .breadcrumb__item--light:before {
  content: '—';
  color: #fff;
  margin-inline: 0.75rem;
}

.breadcrumb__item:last-child {
  text-decoration: none;
  color: #292d33;
}

.breadcrumb__link {
  text-decoration: none;
  color: inherit;
}

.page-inner .section--spaced {
  margin-block-end: 6.25rem;
}

.page-inner .section--spaced-lg {
  margin-block-end: 13.875rem;
}

.page-inner .seo {
  margin-bottom: 14.5rem;
}

.page-inner .production {
  margin-bottom: 6.25rem;
}

.seo__title {
  font-family: 'Noto Sans', sans-serif;
  font-size: 28px;
  line-height: 1.6;
  margin-bottom: 0.625rem;
}

.seo__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: #828a99;
  margin-bottom: 1.25rem;
}

.seo__more {
  display: flex;
  align-items: center;
  column-gap: 0.9375rem;
  color: #5c8ee5;
  font-weight: 600;
  text-decoration: none;
}

@media (max-width: 1700px) {
  html {
    font-size: 0.875rem;
  }

  .header__logo {
    padding-inline: 30px;
  }

  .header__navbar {
    column-gap: 1.25rem;
  }

  .header__navigation-list {
    align-items: center;
  }

  .header__nav-button {
    padding: 15px 35px;
  }

  .modal__close-button {
    top: 42px;
    right: 30px;
  }
}

@media (max-width: 1460px) {
  html {
    font-size: 0.8125rem;
  }

  .header__logo {
    padding-inline: 1.25rem;
  }

  .header__content {
    padding-inline: 1.5625rem;
  }

  .logo__svg {
    width: 7.5rem;
    height: 2.75rem;
  }

  .card__title {
    font-size: 26px;
  }

  .clients__wrapper {
    column-gap: 3rem;
  }

  .cta__image {
    max-width: 40rem;
  }

  .footer__contacts {
    column-gap: 1.5rem;
  }

  .footer__address {
    column-gap: 1.3rem;
  }

  .modal__close-button {
    top: 37px;
    right: 28px;
  }
}

@media (max-width: 1200px) {
  .header__contacts {
    display: none;
  }

  .header__navbar {
    height: 80px;
  }

  .header__nav-button {
    padding: 2.5rem 1.9375rem;
  }

  .header__features-item {
    padding: 1.25rem 3.75rem;
  }

  .slider__buttons {
    display: flex;
  }

  .card__item {
    flex: 0 0 calc(100% / 2);
  }

  .card__item--brands {
    column-gap: 1.5625rem;
    padding: 2.1875rem 1.75rem 2.1875rem 1.5625rem;
  }

  .founder {
    padding-block-end: 0;
  }

  .founder__content {
    max-width: 35rem;
  }

  .founder__photo {
    width: 40%;
  }

  .clients-logo__list {
    align-self: center;
    margin-block-start: 0;
  }

  .cta__form {
    flex: 0 1 41.5rem;
  }

  .section__cta {
    padding-block: 2.9rem 2.25rem;
  }

  .cta__image {
    left: -80px;
  }

  .logo__svg-footer {
    width: 12.5rem;
    height: 5.75rem;
  }

  .footer__top {
    flex-direction: column;
  }

  .footer__bottom {
    column-gap: 2rem;
  }

  .footer__menu-list {
    column-gap: 4.4rem;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 12px;
  }

  .header {
    margin-block-end: 100px;
  }

  .container {
    max-width: 900px;
  }

  .header__navigation-list {
    display: none;
  }

  .header__logo {
    flex-grow: 1;
    justify-content: center;
    border-right: none;
  }

  .burger-button {
    display: inline-flex;
  }

  .header__navbar--light .burger-button__line {
    background-color: #000;
  }

  .header__nav-button-text {
    display: none;
  }

  .header__nav-button .header__contacts-icon {
    display: block;
    color: #fff;
  }

  .card__logo {
    width: 100px;
  }

  .mobile__overlay {
    position: fixed;
    padding-top: 7rem;
    inset: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
    background-color: #fff;
  }

  .mobile__menu-inner,
  .mobile__menu-footer {
    padding-inline: 15px;
  }

  .close-menu .burger-button__line:nth-child(2) {
    display: none;
  }

  .close-menu .burger-button__line:nth-child(1) {
    transform: rotate(45deg) translateY(10px);
  }

  .close-menu .burger-button__line:nth-child(3) {
    transform: rotate(-45deg) translateY(-10px);
  }

  .section__title {
    font-size: 36px;
    margin-block-end: 2.7rem;
  }

  .hero__title {
    font-size: 48px;
  }

  .section {
    /*не мойму, изначально маргин только вниз, но на этом разрешении и вверх и вних, пока закоменчу, потом разберусь*/
    /* margin-block: 8.3rem; */
    margin-block-end: 8.3rem;
  }
  .main-page.own-brands {
    margin-block-end: 148px;
  }

  .hero {
    padding-block: 3.7rem;
  }

  .page-inner .section--spaced {
    margin-block-end: 4.25rem;
  }

  .page-inner .section--spaced-lg {
 margin-block-end: 7.875rem;
}

  .steps__inner {
    padding-inline: 0;
  }

  .steps__title {
    font-size: 20px;
    line-height: 1.3;
  }

  .steps__text {
    margin-block-end: 25px;
    font-size: 14px;
  }

  .button__link {
    column-gap: 2.3rem;
    font-size: 14px;
  }
  .button__link--steps {
    margin-block-end: 20px;
  }

  .steps__num {
    margin-block-end: 14px;
  }

  .nav-arrows {
    display: flex;
  }
  .steps__content {
    padding-right: 35px;
  }

  .steps__num::after {
    width: 70%;
  }

  .card__body {
    padding: 18px 46px 50px 28px;
    row-gap: 6px;
  }

  .card__item--brands {
    grid-template-columns: auto 1fr 1fr;
  }

  .clients-logo__image {
    width: 50px;
    height: 50px;
  }

  .cta__image {
    display: none;
  }

  .cta__form-wrapper {
    justify-content: center;
  }

  .footer__top {
    padding-block: 4.5rem;
    row-gap: 2.7rem;
  }

  .footer__address,
  .footer__contacts {
    flex-direction: column;
    row-gap: 1.2rem;
  }

  .footer__bottom {
    justify-content: center;
  }

  .footer__menu-list {
    grid-auto-flow: row;
  }

  .footer__menu--2cols {
    grid-template-columns: 1fr;
  }

  .modal__close-button {
    top: 38px;
    right: 15px;
    padding: 8px 10px;
  }

  .modal__dialog {
    padding: 2.5rem 2.7rem;
  }

  .blog-card__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .blog-card__description {
    font-size: 14px;
  }

  .seo__title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 0.625rem;
  }
}

/* 768pxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }

  .header__content {
    padding-top: 195px;
  }

  .header__text {
    font-size: 14px;
    max-width: 342px;
    margin-block-end: 2.4rem;
  }

  .header__button {
    padding: 22px;
    letter-spacing: 0.5008px;
    width: 100%;
  }

  .header__features-item {
    max-width: 266px;
    row-gap: 1.7rem;
    padding: 1.5rem 4rem;
    flex-shrink: 0;
  }

  .nav-arrows__button--lg {
    padding: 0.8125rem 1.2rem;
  }

  .header__features-text {
    font-size: 14px;
  }

  .card__item {
    flex: 0 0 100%;
  }

  .card__item--product {
    row-gap: 0;
    min-height: 429px;
  }

  .card__title {
    font-size: 20px;
  }

  .separator {
    margin-block-end: 15px;
  }

  .card__description {
    font-size: 14px;
  }

  .card__item--brands {
    grid-template-rows: auto auto;
  }

  .founder__content-wrapper {
    justify-content: center;
  }

  .founder__content {
    padding-inline: 1.25rem;
    padding-block-start: 4.5rem;
  }

  .founder__photo {
    position: relative;
    width: 100%;
    inset: 0;
  }

  .founder__title {
    margin-block-end: 0.9rem;
  }

  .founder__text {
    font-size: 14px;
    margin-bottom: 0.7rem;
  }

  .clients__wrapper {
    flex-direction: column;
    row-gap: 2.8rem;
  }

  .clients-logo__list {
    align-self: stretch;
  }

  .clients__item {
    column-gap: 1.6rem;
  }

  .clients__text {
    font-size: 14px;
  }

  /* .blog-card__title {
    font-size: 20px;
    line-height: 1.2;
  } */

  /* .blog-card__description {
    font-size: 14px;
  } */

  .blog-card__footer {
    margin-block-start: 1.6rem;
  }

  .nav-arrows__icon {
    width: 30px;
    height: 20px;
  }

  .input__group-wrapper {
    column-gap: 1.875rem;
    flex-direction: column;
  }

  .cta__form-footer {
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
  }

  .button--cta {
    width: 100%;
    padding-block: 20px;
    font-size: 14px;
  }

  .background-grey {
    padding-inline: 15px;
  }

  .section__cta {
    padding-block: 3.9rem 4rem;
  }

  .cta__description {
    margin-block-end: 2.6rem;
  }

  .cta__title {
    margin-block-end: 1rem;
  }

  .input__group {
    height: 5.125rem;
  }

  .input__group-label {
    font-size: 14px;
    left: 2.5rem;
    top: 1.5rem;
  }

  .cta__form-footer {
    margin-block-start: 0.625rem;
    row-gap: 2.5rem;
  }

  .cta__form-notify {
    max-width: 29rem;
  }

  .notify {
    column-gap: 12px;
  }

  .logo__svg-footer {
    width: 13.4rem;
    height: 4.1rem;
  }

  .footer__top {
    padding-block: 4.5rem 2.6rem;
    row-gap: 2.7rem;
  }

  .footer__phone {
    font-size: 28px;
  }

  .footer__text {
    font-size: 14px;
  }

  .footer__bottom {
    justify-content: start;
    padding-block: 2.8rem 0.6rem;
  }
  .footer__menu-title,
  .footer__menu-link {
    font-size: 14px;
  }
  .footer__menu-title {
    margin-bottom: 1.4rem;
  }

  .footer__menu-wrapper:last-child {
    margin-inline-start: 0;
  }

  .footer__wrapper,
  .footer__legal {
    flex-direction: column;
    row-gap: 1rem;
    align-items: start;
  }

  .input__group-wrapper--vertical {
    margin-bottom: 20px;
  }

  .modal__title {
    margin-bottom: 10px;
    font-size: 40px;
  }

  .modal__text {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .modal__close-button {
    top: 35px;
    right: 31px;
  }

  .seo__more {
    font-weight: 700;
    font-size: 14px;
  }

  .page-contacts .footer__phone {
  font-size: 36px;
}

.page-contacts .footer__text{
 font-size: 20px;
}
}

@media (max-width: 576px) {
  .header__navbar {
    height: 68px;
  }
  .header__title {
    max-width: 200px;
    font-size: 48px;
    margin-block-end: 1.2rem;
  }

  .header__nav-button {
    padding: 2rem 2.375rem;
  }

  .logo__svg {
    width: 120px;
    height: 44px;
  }

  .burger-button__wrapper {
    gap: 5px;
  }

  .burger-button__line {
    width: 43%;
    align-self: flex-start;
  }

  .close-menu .burger-button__line:nth-child(1) {
    transform: rotate(45deg) translateY(4px);
  }

  .close-menu .burger-button__line:nth-child(3) {
    transform: rotate(-45deg) translateY(-4px);
  }

  .burger-button__line:nth-child(2) {
    width: 30%;
  }

  .header__content {
    padding-top: 9.9rem;
    padding-inline: 15px;
    margin-block-end: 4.25rem;
  }

  .separator {
    width: 8.5rem;
  }

  .burger-button {
    width: 6.7rem;
    height: 100%;
    padding: 2.2875rem 0 2.2875rem 2.5rem;
  }

  .card__item--brands {
    grid-template-rows: 100px auto;
    grid-template-columns: 100px auto;
    grid-template-areas:
      'logo title'
      'text text';
    padding: 30px 28px 28px 30px;
    row-gap: 1.7rem;
    column-gap: 2.625rem;
  }

  .card__logo {
    align-self: center;
  }

  .clients__list {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    row-gap: 1.25rem;
    justify-items: start;
  }

  .clients-logo__list {
    align-self: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 9.2rem;
  }

  .clients-logo__item:nth-child(9) {
    display: none;
  }

  .blog-card__description {
    display: none;
  }

  .blog-card {
    min-height: 16.1875rem;
    padding: 1.7rem 1.9rem;
  }
  .cta__description {
    font-size: 14px;
  }

  .footer__top,
  .footer__address,
  .footer__contacts {
    align-items: start;
    font-size: 14px;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__menu-list {
    padding-left: 1.6rem;
    row-gap: 0.9rem;
  }

  .footer__menu-wrapper {
    margin-block-end: 26px;
  }

  .footer__menu-list--bold {
    padding-inline-start: 0;
    row-gap: 2.6rem;
  }

  .breadcrumb {
    font-size: 12px;
  }

  .page-inner .production {
    margin-bottom: 4.25rem;
  }

  .page-inner .seo {
    margin-bottom: 8rem;
  }

  .seo__title {
    margin-bottom: 1.5rem;
  }

  .seo__text {
    word-spacing: 1px;
    margin-bottom: 2.3rem;
  }
}
