body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

.container {
  max-width: 1440px;
  margin-inline: auto;
}

.header {
  min-height: 100vh;
  background-color: #292d33;
}

.header__image {
  position: relative;
  background: url('../images/header-bg.jpg') center / cover no-repeat;
  height: 100%;
}

.header__image::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(41, 45, 51, 0.8);
  opacity: 0.6;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header__navbar {
  position: fixed;
  z-index: 2;
  width: 100%;
  display: flex;
  height: 94px;
  align-items: center;
  column-gap: 50px;
  color: #fff;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  transition: background-color 0.3s, height 0.3s;
}

.header__navbar--light {
  background-color: #fff;
  color: #292d33;
  border-bottom: none;
  height: 74px;
}

.header__navbar--light .header__logo-path {
  fill: #292d33;
}

.header__logo {
  display: flex;
  align-items: center;
  padding-inline: 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header__navigation-list {
  display: flex;
  column-gap: 53px;
  flex-basis: 100%;
}

.header__navigation-link {
  text-decoration: none;
  color: inherit;
}

.header__contacts {
  display: flex;
  flex-shrink: 0;
  column-gap: 10px;
}

.header__contacts-link {
  color: inherit;
  text-decoration: none;
}
.logo__image {
  width: 144px;
  height: 44px;
}

.logo {
  flex-shrink: 0;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: none;
  background-color: #5c8ee5;
  color: inherit;
  font-size: 16px;
  line-height: 1.6;
  padding: 25px 50px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.7px;
}

.header__nav-button {
  height: 100%;
}

.header__button {
  padding: 25px 60px;
  letter-spacing: 0.5px;
}

.seporator {
  width: 150px;
  height: 2px;
  background-color: #5c8ee5;
}

.header__content {
  position: relative;
  z-index: 1;
  padding-top: 243px;
  color: #fff;
  margin-bottom: 100px;
}

.header__title {
  max-width: 1080px;
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 80px;
  line-height: 1.2;
  margin-block: 23px 39px;
}

.header__text {
  max-width: 720px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 50px;
  word-spacing: 1.2px;
}

.header__features-list {
  display: flex;
  position: relative;
  z-index: 1;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

.header__features-item {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px 50px;
  border: 1px solid rgba(235, 235, 240, 0.2);
  max-width: 288px;
}

.header__features-item:not(:last-child) {
  border-right: none;
}

.section--light {
  background-color: #fff;
}

.section {
  padding-inline: 10px;
  margin-block: 150px;
}

.section__title {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 60px;
  line-height: 1.2;
  color: #292d33;
  margin-block: 24px 50px;
}

.steps__title {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.6;
  margin-bottom: 10px;
  color: #292d33;
}

.steps__list {
  display: flex;
  column-gap: 30px;
  list-style: none;
}

.steps__item {
  max-width: 330px;
}

.steps__content {
   padding-right: 32px;
}

.steps__num {
  display: flex;
  align-items: center;
  column-gap: 30px;
  margin-bottom: 36px;
  font-family: 'Bebas Neue';
  font-size: 48px;
  line-height: 1.2;
  color: #5c8ee5;
}

.steps__num::after {
  content: '';
  width: 100%;
  height: 1px;
  background-color: #ebebf0;
}

.steps__text {
  font-size: 16px;
  line-height: 1.6;
  color: #828a99;
  margin-bottom: 20px;
}

.steps__link {
  display: flex;
  align-items: center;
  column-gap: 24px;
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #5c8ee5;
  line-height: 1.6;
}

.steps__link::before {
  content: '';
  width: 12%;
  height: 1px;
  background-color: #5c8ee5;
}
